@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="scalperId" name="接受推送派单的唯一金主id" underline="true"/>
                            <#input id="rootId" name="根代理id" underline="true"/>
                            <#input id="upperId" name="直接代理id" underline="true"/>
                            <#input id="agentPath" name="代理层级关系路径" underline="true"/>
                            <#input id="avaliableBalance" name="可用余额" underline="true"/>
                            <#input id="freezeBalance" name="冻结余额" underline="true"/>
                            <#input id="totalBalance" name="总额" underline="true"/>
                            <#input id="collectBalanceSumDay" name="当日累计收款" underline="true"/>
                            <#input id="collectBalanceMaxDay" name="当日收款上限" underline="true"/>
                            <#input id="lastAssignTaskTime" name="最后一次派单时间" underline="true"/>
                            <#input id="lastAccountTime" name="最后一次到账时间"/>
                </div>

                <div class="col-sm-6">
                            <#input id="lastChargeTime" name="最后一次充值时间" underline="true"/>
                            <#input id="lastFlowPushTime" name="最后一次信息流水推送时间" underline="true"/>
                            <#input id="alipaySwitch" name="金主支付宝开关" underline="true"/>
                            <#input id="wxSwitch" name="金主微信开关" underline="true"/>
                            <#input id="bankSwitch" name="金主银行卡开关" underline="true"/>
                            <#input id="blockStatus" name="运营总控" underline="true"/>
                            <#input id="alipayRate" name="金主支付宝费率" underline="true"/>
                            <#input id="wxRate" name="金主微信费率" underline="true"/>
                            <#input id="bankRate" name="金主银行卡费率" underline="true"/>
                            <#input id="crtTime" name="" underline="true"/>
                            <#input id="uptTime" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ScalperInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ScalperInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/scalper/scalper_info.js"></script>
@}
