<!DOCTYPE HTML>
<html>
<head>
    <title>订单详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <!-- bootstrap -->
    <link href="${ctxPath}/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>    <!-- jquery-validator -->
    <!-- layer -->
    <script src="${ctxPath}/static/js/plugins/layer/layer.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="${ctxPath}/static/js/common.js"></script>
</head>
<body>
<div class="panel panel-default" >
  <div class="panel-heading">支付订单详情</div>
  <table class="table" id="goodslist">
<!--        <tr>
        <td>商品名称</td>  
        <td colspan="3" id="goodsName"></td> 
     </tr>  -->
<!--     <tr>
        <td>商品图片</td>  
        <td colspan="2"><img  id="goodsImg" width="200" height="200" /></td>  
     </tr>-->
      <tr>
          <td>订单号</td>
          <td colspan="2"  id="orderNo"></td>
      </tr>
      <tr>  
        <td>充值金额</td>
        <td bgcolor="#00FF00" colspan="2"  id="amount"></td>
     </tr>
      <tr>
          <td>订单状态</td>
          <td id="orderStatus">
              <!--        <td>
                          <button class="btn btn-primary btn-block" type="submit" id="payButton">立即支付</button>
                      </td>-->
      </tr>
      <tr>
          <td>附言</td>
          <td id="remark"></td>
      </tr>
      <tr>
          <td>姓名</td>
          <td id="name"></td>
      </tr>
      <tr>
          <td>卡号</td>
          <td id="cardNo"></td>
      </tr>
     <tr>
     	<td>下单时间</td>
        <td id="createDate" colspan="2"></td>
     </tr>
      <tr>
          <td>订单过期时间</td>
          <td bgcolor="#FF0000" id="overDueDate" colspan="2"></td>
      </tr>

  </table>
</div>
</body>
</html>
<script>
function render(detail){
	var order = detail;
    $("#orderNo").text(order.orderNo);
/*	$("#goodsImg").attr("src", goods.goodsImg);*/
	$("#amount").text(order.amount);
    $("#name").text(order.name);
    $("#account").text(order.account);
    $("#remark").text(order.remark);
	$("#createDate").text(new Date(order.createDate).format("yyyy-MM-dd hh:mm:ss"));
    $("#overDueDate").text(new Date(order.overDueDate).format("yyyy-MM-dd hh:mm:ss"));
	var status = "";
	if(order.status == 0){
		status = "未支付"
	}else if(order.status == 1){
		status = "待发货";
	}
	$("#orderStatus").text(status);
	
}

$(function(){
    getDepositDetail();
})

function getDepositDetail(){
	var orderId = g_getQueryString("orderNo");
	$.ajax({
		url:"/order/detail",
		type:"GET",
		data:{
			orderId:orderId
		},
		success:function(data){
			if(data.code == 200){
				render(data.data);
			}else{
				layer.msg(data.msg);
			}
		},
		error:function(){
			layer.msg("客户端请求有误");
		}
	});
}



</script>
