<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.bankmanager.dao.BankMgrParmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.BankMgrParm">
        <id column="id" property="id" />
        <result column="parm_name" property="parmName" />
        <result column="parm_value" property="parmValue" />
        <result column="crt_time" property="crtTime" />
        <result column="upt_time" property="uptTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parm_name AS parmName, parm_value AS parmValue, crt_time AS crtTime, upt_time AS uptTime
    </sql>

</mapper>
