<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CompanyCashFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CompanyCashFlow">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="collection_amount" property="collectionAmount" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="collection_bfs" property="collectionBfs" />
        <result column="payment_bfs" property="paymentBfs" />
        <result column="updated_ab" property="updatedAb" />
        <result column="old_ab" property="oldAb" />
        <result column="updated_fa" property="updatedFa" />
        <result column="old_fa" property="oldFa" />
        <result column="transaction_date" property="transactionDate" />
        <result column="order_no" property="orderNo" />
        <result column="crt_time" property="crtTime" />
        <result column="upt_time" property="uptTime" />
        <result column="order_status" property="orderStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, collection_amount, payment_amount, collection_bfs, payment_bfs, updated_ab, old_ab, updated_fa, old_fa, transaction_date, order_no, crt_time, upt_time, order_status
    </sql>

</mapper>
