@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="scalperId" name="金主id" value="${item.scalperId}" underline="true"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                            <#input id="cardNo" name="卡号" value="${item.cardNo}" underline="true"/>
                            <#input id="bank" name="银行名称" value="${item.bank}" />
                </div>

                <div class="col-sm-6">
                            <#input id="bankCode" name="银行编号" value="${item.bankCode}" underline="true"/>
                            <#input id="cardAddr" name="发卡行地址" value="${item.cardAddr}" underline="true"/>
                            <#input id="status" name="激活状态 0:未激活 1:激活" value="${item.status}" underline="true"/>
                            <#input id="crtTime" name="" value="${item.crtTime}" underline="true"/>
                            <#input id="uptTime" name="" value="${item.uptTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ScalperBankAccountInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ScalperBankAccountInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/scalperBankAccount/scalperBankAccount_info.js"></script>
@}
